<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.6.2"/>
    <identity impersonate="false"/>
    <customErrors mode="Off" />
  </system.web>
  
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <rewrite>
      <rules>
        <rule name="AngularJS" stopProcessing="true">
          <match url="index.html|/*.woff2|/*.woff|/*.svg|/*.ttf|/*.eot"/>
          <action type="None"/>
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/dist/"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
</configuration>